<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @author.name %></h1>
    <p>Сегодня, в <%= @task.updated_at %>, <%= @user.name %> отклонил вашу заявку № <%= @task.id %>.</p>
    <p>Текст вашей заявки: <br />
      <%= @task.title %><br />
      <%= @task.content %>
    </p>
    
  </body>
</html>
