= form_for @comment, :url => '/comments' do |f|
  = hidden_field_tag "comment[task_id]", task.id
  = hidden_field_tag "comment[parent_id]"
  = f.text_area :content
  %br
  = f.submit "Add", :class => "button"
  
  
