<div class="elem-container round">
  <span class="title"><%= task.title %></span><br />
  <label>Проект:</label> <%= link_to task.project.title, project_path(task.project) %><br />
  <label>Автор:</label> <%= link_to task.author.name, user_path(task.author) %><br/>
  <label>Ответственный:</label> <%= link_to task.user.name, user_path(task.user) %><br/>
  <label>Статус:</label> <%= task.status.content rescue Status.find(task.status_id).content %><br/>
  <div class="actions">
  <%= link_to task_path(task) do %>
    <button class="round">Просмотр</button>
  <% end %>
  </div>
</div>
