 <%= image_tag @user.avatar.url(:thumb) %><h1><%= @user.name %></h1>
<table class="profile-info">
  <tr>
    <td>Статус</td>
    <td class="boldy"><%= @user.status %></td>
  </tr>
  <tr>
    <td>Email:</td>
    <td class="boldy"><%= @user.email %></td>
  </tr>
  <tr>
    <td>ICQ:</td>
    <td class="boldy"><%= @user.icq %></td>
  </tr>
  <tr>
    <td>JID:</td>
    <td class="boldy"><%= @user.jid %></td>
  </tr>
  <tr>
    <td>Skype:</td>
    <td class="boldy"><%= @user.skype %></td>
  </tr>
</table>
  
